S6A_RO_1B_BND_____20251025T000000_20251025T000030_20251031T120000__________________EUM__OPE_NR_001.SEN6:4
S6A_RO_1B_BND_____20251025T000000_20251025T000030_20251031T120000__________________EUM__OPE_NT_001.SEN6:4
S6A_MW____CAL__AX_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_______________JPL_OPE_AL____.SEN6:0.2
S6A_MW____CHD__AX_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_______________JPL_OPE_AL____.SEN6:3.1
S6A_MW____MAP__AX_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_YYYMMDDTHHMMSS_______________JPL_OPE_AL____.SEN6:1500